In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_selection import chi2
import scipy.stats as ss

In [2]:
test_results = pd.read_csv("test_results.csv")
user_table = pd.read_csv("user_table.csv")

In [3]:
test_results.head()

,user_id,timestamp,source,device,operative_system,test,price,converted
0,604839,2015-05-08 03:38:34,ads_facebook,mobile,iOS,0,39,0
1,624057,2015-05-10 21:08:46,seo-google,mobile,android,0,39,0
2,317970,2015-04-04 15:01:23,ads-bing,mobile,android,0,39,0
3,685636,2015-05-07 07:26:01,direct_traffic,mobile,iOS,1,59,0
4,820854,2015-05-24 11:04:40,ads_facebook,web,mac,0,39,0

In [4]:
user_table.head()

   user_id         city country    lat    long
0   510335      Peabody     USA  42.53  -70.97
1    89568         Reno     USA  39.54 -119.82
2   434134       Rialto     USA  34.11 -117.39
3   289769  Carson City     USA  39.15 -119.74
4   939586      Chicago     USA  41.84  -87.68

In [5]:
user_table.shape

(275616, 5)

In [6]:
test_results.shape

(316800, 8)

In [7]:
# Questions
# 1. Should the company sell its software for $39 or $59?
# 2. What are your main findings looking at the data? Actionable insights that might increase conversion rate.
# 3. After how many days you would have stopped the test?

In [8]:
test_results.rename(columns={'operative_system':'OS'}, inplace=True)

In [9]:
test_results.head()

,user_id,timestamp,source,device,OS,test,price,converted
0,604839,2015-05-08 03:38:34,ads_facebook,mobile,iOS,0,39,0
1,624057,2015-05-10 21:08:46,seo-google,mobile,android,0,39,0
2,317970,2015-04-04 15:01:23,ads-bing,mobile,android,0,39,0
3,685636,2015-05-07 07:26:01,direct_traffic,mobile,iOS,1,59,0
4,820854,2015-05-24 11:04:40,ads_facebook,web,mac,0,39,0

# Check Whether test and control group is randomly splited

In [10]:
X = test_results.copy()

In [11]:
# label encoder encode labels with value between 0 and n-1
source_label_encoder = LabelEncoder()
device_label_encoder = LabelEncoder()
os_label_encoder = LabelEncoder()

In [12]:
del X['timestamp']
X['source'] = source_label_encoder.fit_transform(X.source)
X['device'] = device_label_encoder.fit_transform(X.device)
X['OS'] = os_label_encoder.fit_transform(X.OS)

In [13]:
X.head()

   user_id  source  device  OS  test  price  converted
0   604839       3       0   1     0     39          0
1   624057       8       0   0     0     39          0
2   317970       0       0   0     0     39          0
3   685636       5       0   1     1     59          0
4   820854       3       1   3     0     39          0

In [14]:
# Chi Square statistic used for testing relationships between categorical variables. 
# The null hypothesis says that no relationship exists on the categorical variables in the population. They are independent.
colnames = ["source", "device", "OS"]
chi2vals, pvals = chi2(X.loc[:, colnames], X['test'])
chi2_df = pd.DataFrame(data = {'chi2': chi2vals, 'pval': pvals}, index = colnames)
chi2_df.sort_values(by=['pval'])

             chi2          pval
OS      83.085986  7.856065e-20
device  44.366335  2.723301e-11
source   0.924742  3.362329e-01

In [15]:
# Observation: The splitting between test/control groups aren't random. OS and device have great impact on the splitl.

test_results.groupby(['OS'])['test'].value_counts(normalize=True)

OS       test
android  0       0.643358
         1       0.356642
iOS      0       0.647934
         1       0.352066
linux    0       0.533736
         1       0.466264
mac      0       0.652422
         1       0.347578
other    0       0.647865
         1       0.352135
windows  0       0.629764
         1       0.370236
Name: test, dtype: float64

In [16]:
# Conclusion: OS distribution in test/control groups are very different.
# The experiment claims that 66% users have seen the $39 price, while a random sample of 33% users the $59 price.
# The user from Linux does not obey such rule, 53% go to control group, 47% go to test group.

# Question 1: Should the company sell its software for 39 or 59?

In [17]:
# when the population standard deviation (Ïƒ) is not known or the sample size is (n < 30), use t distribution.
# Otherwise, use z distribution.

Use a t-test to test whether the test group's average revunue is higher than the control group's average revenue.
H0: The test group's revenue is equal to/less than the control group's revenue.
Ha: The test group's revenue is greater than the control group's revenue.

In [18]:
def conversion(df):
    return pd.Series({'Users': df.shape[0], 'Conversion': df["converted"].mean()
                      , 'Revenue': (df['converted']*df['price']).mean()})

In [19]:
X.groupby("test").apply(conversion)

         Users  Conversion   Revenue
test
0     202727.0    0.019904  0.776734
1     114073.0    0.015543  0.916843

In [20]:
conversion

In [21]:
revenues = test_results.groupby("test").apply(lambda df: df["price"]*df["converted"])

In [22]:
pvalue = ss.ttest_ind(revenues[0], revenues[1], equal_var=False)[1]/2

In [23]:
pvalue

7.703749302339191e-09

Since the p-value is much smaller than 0.05, we reject H0 and accept Ha. We conclude that the test group's revenue is significantly greater than the control group's revenue.

Since price isn't the only difference between test & control groups (OS differences are not the same as well), we cannot contribute the increase in revenue to price.

Cannot decide whether or not we sell software to all users in $59.

Suggestions:
1. Find the reason why linux user's tst/control group distribution is different.
2. Run the experiment again, ensuring price is the only difference between test & control (test&control is random;y splited).
3. Run t-test again, see whether the average revenue is significantly improved.
4. Draw conclusion

# Q2. What are your main findings looking at the data? Actionable insights that might increase conversion rate.

In [25]:
# see how source, device, os, price impact conversion rate
columns = ['source', 'device', 'OS', 'price']
chi2val, pval = chi2(X.loc[:, columns], X['converted'])
pd.DataFrame(data={'chi2values':chi2val, 'pvalues':pval}, index=columns).sort_values(by=['pvalues'])

        chi2values       pvalues
price   150.992849  1.051844e-34
OS        7.642955  5.699447e-03
source    2.373391  1.234187e-01
device    0.729490  3.930485e-01

Observation: price and os are two main factors which impact converted or not. Source and device don't impact conversion rate that much.

How price impact conversion?

In [33]:
X.groupby("price")['converted'].apply(lambda s: s.value_counts(normalize=True)).unstack()

              0         1
price
39     0.980111  0.019889
59     0.984430  0.015570

Observation: Users see $59 has lower conversion rate than user see $39

How OS impact conversion?

In [42]:
os_n_converted = test_results.groupby("OS")["converted"].apply(lambda s: s.value_counts(normalize=True)).unstack()
os_n_converted
# Linux users have low conversion rate, while ios and mac users have high conversion rate.

                0         1
OS
android  0.985067  0.014933
iOS      0.977678  0.022322
linux    0.991778  0.008222
mac      0.976002  0.023998
other    0.987040  0.012960
windows  0.983045  0.016955

Actionable Insights:
mac/ios users and low price are two great positive factors that improve the conversion rate (launch special marketing program targeting mac/ios users)
linux users don't like the software as mich as users on other os (development team should find out if there is any incompatibility issue on linux.)